<h1>Editing box</h1>

<%= render "form", box: @box %>

<br>

<div>
  <%= link_to "Show this box", @box, class: "button is-light" %> |
  <%= link_to "Back to boxes", boxes_path, class: "button is-light" %>
</div>
